XMLs/XSD/Patient.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.example.org/Patient"
        xmlns:tns="http://www.example.org/Patient"
        elementFormDefault="qualified">

    <element name="Patient" type="tns:Patient"/>

    <complexType name="Patient">
        <sequence>
            <element name="name" type="string"/>
            <element name="age" type="int"/>
            <element name="email" type="string"/>
            <element name="gender" type="string"/>
            <element name="phone" type="string"/>
        </sequence>
    </complexType>



</schema>

